.banner {
  background: var(--degrade-azul);
  color: var(--branco);
  text-align: center;
  padding: 2.5em 2em;
}

.banner h3 {
  font-size: 18px;
  font-weight: 700;
}

.banner p {
  font-weight: 500;
  margin: 1em 0;
}

.banner input {
  width: 100%;
  color: var(--branco);
  background-color: transparent;
  border: 1px solid var(--branco);
  border-radius: 24px;
  padding: 1em;
}

.banner input::placeholder {
  font-family: var(--fonte);
  font-size: 14px;
  font-weight: 400;
  color: var(--branco);
  text-align: center;
  background-image: url(../assets/lupa.svg);
  background-repeat: no-repeat;
  background-position: 0;
}

@media screen and (min-width: 1024px) {
  .banner {
    padding: 5em 2em;
  }

  .banner h3 {
    font-size: 36px;
  }

  .banner input {
    width: 50%;
  }

  
}

@media screen and (min-width: 1728px) {
  .banner {
    padding: 7em 10em;
  }

  .banner input {
    width: 30%;
  }

  .banner h3 {
    font-size: 32px;
  }
}