.topicos {
  background: var(--degrade-azul);
  text-align: center;
  padding: 2em 0;
}

.topicos h2 {
  font-size: 16px;
  font-weight: 300;
  color: var(--branco);
  margin-bottom: 1em;
}

.topicos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topicos li {
  margin: 2em 0.5em
} 

.topicos a {
  color: var(--branco);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--amarelo-titulos);
  padding: 1em;
}

@media screen and (min-width: 1024px) {
  .topicos {
    padding: 3em 10vw;
  }
  
  .topicos h2 {
    font-size: 24px;
  }

  .topicos a {
    font-size: 24px;
  }
}

@media screen and (min-width: 1728px) {
  .topicos {
    padding: 3em 30vw;
  }
}